#todolist {
  text-align: left;
  width: 100%;
  list-style: none;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}

#todolist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-todo {
  float: right;
  cursor: pointer;
}

.del-todo {
  margin: 0;
}

.todocontent {
  width: 100%;
}

[contenteditable="true"].single-line {
  /* white-space: nowrap; */
  width: 260px;
  margin: 0;
  height: fit-content;
  border-bottom: 1px solid black;
  /* overflow: hidden; */
}
[contenteditable="true"].single-line br {
  display: none;
}
[contenteditable="true"].single-line * {
  display: inline;
  white-space: nowrap;
}
