.AddNote__form {
  text-align: left;
}

.AddNote__form input,
.AddNote__form textarea {
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 15px;
  /* minus side padding and border */
  width: calc(100% - 16px - 2px);
  padding: 5px 8px;
  border: 1px solid #ddd;
}

.AddNote__form label {
  margin-top: 10px;
}

.AddNote__buttons {
  text-align: center;
}

.AddNote__required {
  color: #a51414;
}

.AddNote__error p {
  color: #a51414;
  margin-bottom: 5px;
}

.note {
  height: 100px;
  width: 100px;
  background-color: yellow;
}
